.bg {
  background-image: url(../../images/bg-img.jpg);
  background-size: cover;
  font-family: $principal-font;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.button-next {
  color: $background-color;
  border-radius: 30px;
  border: 1px solid $terciary-color;
  margin-top: 25px;
  padding: 10px;
  background-color: $terciary-color;
  cursor: pointer;

  &:hover {
    background-color: $terciary-color--dark;
  } 
}
