.bg {
    background-image: url(../../images/bg-img.jpg);
    background-size: cover;
    font-family: $principal-font;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}