.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__question {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $secondary-color;
  }

  &__image {
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
  }

  &__answer {
    cursor: pointer;
    padding: 10px;
  }
}
