.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
    font-family: $principal-font;
    background-color: white;

    &__img{
        height: 100px;

        @media (min-width: $breakpoint-tablet) {
            height: 130px;
          }
    }

    &__rrss-title{
        font-size: 13px;
    }

    &__rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

    &__rrss-web{
        padding-left: 5px;
        color: $principal-color;
             
    }
}