.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 30px;
    font-family: $principal-font;

    &__rrss-title{
        font-size: 13px;
    }

    &__rrss{
    display: flex;
    flex-direction: row;
    }

    &__rrss-web{
        padding-left: 5px;
        color: $principal-color;
             
    }
}