.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100px;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 2;
    color: $secondary-color;

    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 16px;
    color: $terciary-color;

    @media (min-width: $breakpoint-tablet) {
      font-size: 20px;
    }
  }

  &__img {
    width: 70%;
    max-width: 70px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    @media (min-width: $breakpoint-tablet) {
      margin-left: 20px;
    }
  }
}
