.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $background-color;
  width: 70%;
  border-radius: 30px;
  border: 2px solid $principal-color;

  &__title {
    font-weight: bold;
    color: $terciary-color;
    padding-top: 15px;
    font-size: 18px;
    
    @media (min-width: $breakpoint-tablet) {
      font-size: 24px;
    }
  }

  &__text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: $terciary-color;

    @media (min-width: $breakpoint-tablet) {
      font-size: 18px;
    }
  }

  &__image {
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 30px;
  }
}
