$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$principal-font: "Roboto";
$principal-color: #eca437;
$secondary-color: #3c74c9;
$secondary-color--dark: #172e52;
$terciary-color: #c564c9;
$terciary-color--dark: #571f59;
$background-color: #ecf5f5;
